.bg-Good { background-color: #47d065; }
.bg-Bad { background-color: #f44336; }
.bg-Maintenance { background-color: #ffc107; }
.bg-Inactive { background-color: #d8d8d8; }

.bg-Good:hover { background-color: #28a042; }
.bg-Bad:hover { background-color: #c72f24; }


.fwidth { width: 100%; }
.clMain { display: flex; }

.dShow {display: block !important;}
.dHide {display: none !important;}
.lineListCol {
    display: flex;
    height: 100%; 
    width: calc(100vw - 60px);
}

.lineContent {height: 100%;}
.line-list-card { 
    width: calc(25% - 33px);
    border-radius: 0;
    box-shadow: none;
    border: 1px solid white;
    border-top: 0;
    border-right: 0;
    cursor: pointer;
    position: relative;
}
.disabledLayer {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.line-tabs {
    background-color: #fff;
    
    height: calc(100vh - 68px);
}

.line-list {
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
}

.line-no {
    color: white;
    font-size: 0.75em;
    font-weight: bold;
    text-shadow: 0 0 2px #0000007d;
}

.line-status {
    display: table;
    width: 100%;
    height: calc(100% - 15px);
}

.line-value {
    display: table-cell;
    text-align: center;
    width: 100%;
    vertical-align: middle;
    font-size: 2.5em;
    color: white;
}

.line-summary {
    background: white;
    width: 500px;
    display: none;
}

.info-btn {
    background-color: #828282;
    width: 15px;
    color: white;
    font-size: 2em;
    text-align: center;
}

.sensor {
    background: #f9f9f9;
    padding: 10px 15px;
    border-radius: 0;
}

.sensor-title {
    font-size: 0.75em;
    margin-bottom: 5px;
}

.sensor-column {
    display: flex;
}

.sensor-value {
    width: calc(100% / 2);
    padding: 5px;
    margin: 0 3px;
    font-size: 0.75em;
    color: white;
    text-align: center;
    border-radius: 2px;
}

.sensor-value:hover {
    cursor: pointer;
}

.mat-tab-body.mat-tab-body-active {
    overflow-y: scroll !important;
    height: calc(100vh - 118px) !important;
}

/* Structure */
table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  

  .settingBody {
    padding: 30px;
    background: white;
    height: 100%;
}

.settingContent {
    display: flex;
}

.settingListCard {
    width: 100%;
}

.settingFormCard {
    width: 400px;
}


.historyMobile {display: none;}

.mobileSummary {
    background: white;
    display: none;
}

    
.mat-badge-medium.mat-badge-after .mat-badge-content {
    right: 15px !important;
}
.mat-badge-medium.mat-badge-above .mat-badge-content {
    top: 8px !important;
}
.mat-badge-content {
    color: #505050 !important;
    background: #cacaca !important;
}

.mat-badge {
    position: unset !important;
}
.summarySensor {
    padding: 10px !important;
    display: none;
}

.collapseBtn {
    background: #6b6b79;
    display: table-cell;
    padding: 3px;
    color: white;
    font-size: 20px;
    padding-top: calc(25% - 25px);
    cursor: pointer;
    transition-delay: 0.3s;
}
.collapseBtn:hover {
    background:#2d2d33;
}


.line-trigger {
    background: #e4ab00;
    padding: 5px 10px;
    position: absolute;
    right: 10px;
    top: 10px;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    font-size: 0.75em;
    }

@media screen and (max-width: 500px) {

    .line-trigger {
        top: 20px;
        right: 20px;
    }
    
.line-tabs {
    height: 100% !important;
}

    .dShow{display: none !important;}
    .collapseBtn {display: none;}
    .lineContent {height: auto !important;}
    .dMobileShow {display: block;}

    .lineListCol {
        margin-top: 50px;
        width: 100%;
        overflow-y: scroll;
        height: calc(100% - 50px);
    }
    .mobileSummary {
        background: white;
    }
    .mat-card {
        padding: 0;
        position: relative !important;
    }
    .line-trig {
        top: 15px;
        right: 15px;
    }
    .line-list-card { 
        width: 100% !important; 
        min-height: 70px;
    }
    .line-status {
        width: auto !important;
        margin: auto;
        padding: 18px;
        height: auto;
    }
    .line-no { 
        position: absolute;
    padding: 25px 0;
    left: 15px;
    }
    .info-btn { display: none; }
    .line-summary { display: none; }
    .line-value { font-size: 1.8em !important; 
    }
    .sensor-title,.sensor-column {
        margin-bottom: 0px !important;
        padding: 5px 10px !important;
    }

}