.dShow {display: block !important;}

.mobile-plant-Nav {
    display: block;
    width: 100%;
    position: absolute;
    z-index: 999;
    display: none;
}
.mobilePlantBtn {
    color: white;
    background: #6b6b79;
    border-radius: 0 !important;
    border: none !important;
    box-shadow: none !important;
    text-align: center;
}

.plant-Nav { 
    width: 60px;
    height: 100%;
    background: #b9b9b9;
    position: relative;
}

.plant-Nav-Btn {
    background: #b9b9b9;
    border-radius: 0;
    text-align: center;
    font-weight: bold;
    color: white;
    border-bottom: 1px solid #a2a2a2;
    box-shadow: none;
    cursor: pointer;
    transition-duration: 0.2s;
}

.plant-Nav-Btn:hover {
    background: #8e8d8d;
}

.setting-nav-Btn {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 16px 0;
}


.active {
    background-color: #6b6b79;
}

@media screen and (max-width: 500px) {
    .dMobileShow {display: block;}
    .plant-Nav {display: none;}
    .mobile-plant-Nav {display: block;}
    
.mobilePlantNav {display: none;}
}