<div class="plant-Nav clMain">

  <mat-card class="plant-Nav-Btn" *ngFor="let item of data" [style.backgroundColor]="categoryColor"
    (click)="setActiveNav(item.Id)" [class.active]="item.Id==SelectedPlant" [routerLink] = "['/MainScreen/home',item.Id]" >
    <div class="plant-label">{{item.Id}}</div>
  </mat-card>

  <mat-card *ngIf="IsAdmin" class="plant-Nav-Btn setting-nav-Btn" >
      <div *ngIf="IsAdmin" class="plant-label" [routerLink] = "['./settings']">
        <i class="fas fa-sliders-h" style="font-size: 1.5em;"></i></div>
  </mat-card>

</div>


<!--mobile plant nav-->
<div class="mobile-plant-Nav">
  <mat-card class="mobilePlantBtn" (click)="mplSelectBool()">Plant {{SelectedPlant}}</mat-card>

  <div class="mobilePlantNav" [class.dShow]="mplStatus==true">    

    <mat-card class="plant-Nav-Btn" *ngFor="let item of data" [style.backgroundColor]="categoryColor"
    (click)="setActiveNav(item.Id);mplSelectBool()" [class.active]="item.Id==SelectedPlant" [routerLink] = "['/MainScreen/home',item.Id]" >
    <div class="plant-label">{{item.Id}}</div>
  </mat-card>
    
  </div>

</div>


