
  <div class="sensor-Nav">

    <mat-card class="sensor-Nav-Btn">
      <div class="sensor-label">Burner Lockout</div>
    </mat-card>

    <mat-card class="sensor-Nav-Btn">
      <div class="sensor-label">Low Temperature Alarm</div>
    </mat-card>

    <mat-card class="sensor-Nav-Btn">
      <div class="sensor-label">Pre-Roller Motor</div>
    </mat-card>

    <mat-card class="sensor-Nav-Btn">
      <div class="sensor-label">Beading Motor</div>
    </mat-card>

    <mat-card class="sensor-Nav-Btn">
      <div class="sensor-label">Cleaning Brush Motor</div>
    </mat-card>

    <mat-card class="sensor-Nav-Btn">
      <div class="sensor-label">Rinse Blower</div>
    </mat-card>

    <mat-card class="sensor-Nav-Btn">
      <div class="sensor-label">Main Chain Amp</div>
    </mat-card>

    <mat-card class="sensor-Nav-Btn">
      <div class="sensor-label">Latex Level</div>
    </mat-card>

    <mat-card class="sensor-Nav-Btn">
      <div class="sensor-label">Chlorine Level</div>
    </mat-card>

    <mat-card class="sensor-Nav-Btn">
      <div class="sensor-label">Coagulant Level</div>
    </mat-card>

    <mat-card class="sensor-Nav-Btn">
      <div class="sensor-label">Oven Temperature</div>
    </mat-card>

    <mat-card class="sensor-Nav-Btn">
      <div class="sensor-label">Gas</div>
    </mat-card>

    <mat-card class="sensor-Nav-Btn">
      <div class="sensor-label">Electricity</div>
    </mat-card>

    <mat-card class="sensor-Nav-Btn">
      <div class="sensor-label">Acid 1</div>
    </mat-card>

    <mat-card class="sensor-Nav-Btn">
      <div class="sensor-label">Acid 2</div>
    </mat-card>

    <mat-card class="sensor-Nav-Btn">
      <div class="sensor-label">Acid Bath</div>
    </mat-card>

    <mat-card class="sensor-Nav-Btn">
      <div class="sensor-label">Alkaline 1</div>
    </mat-card>

    <mat-card class="sensor-Nav-Btn">
      <div class="sensor-label">Alkaline 2</div>
    </mat-card>

    <mat-card class="sensor-Nav-Btn">
      <div class="sensor-label">Hot Bath</div>
    </mat-card>

    <mat-card class="sensor-Nav-Btn">
      <div class="sensor-label">Hot Rinse</div>
    </mat-card>

    <mat-card class="sensor-Nav-Btn">
      <div class="sensor-label">Hot Water</div>
    </mat-card>

    <mat-card class="sensor-Nav-Btn">
      <div class="sensor-label">Coagulant Tank</div>
    </mat-card>

    <mat-card class="sensor-Nav-Btn">
      <div class="sensor-label">Latex Tank</div>
    </mat-card>

    
  </div>


  