.sensor-Nav {
    height: calc(100vh - 68px);
    width: 250px;
    overflow-y: scroll;
}

.sensor-Nav-Btn {
    font-size: 14px;
    background-color: #435761;
    color: white;
    border-radius: 0;
    cursor: pointer;
    border-bottom: 1px solid rgba(255, 255, 255, 0.12);
}
